.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--font-color-main);
  padding: 1rem var(--nav-side-padding);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-dark {
  background-color: var(--default-background-color);
}

.sign-btn {
  display: none;
}

.nav-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-header .search-container {
  flex-grow: 1;
  display: none;
}

.nav-header:hover {
  cursor: pointer;
}

.nav_logo {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

.nav-title {
  font-size: 1.9rem;
  margin-bottom: 0;
  margin: 0 10px;
  font-weight: 600;
}

.nav-link {
  display: none;
}

.nav-item {
  display: inline-block;
  margin: 1rem 8rem;
  font-size: 1.7rem;
  cursor: pointer;
  height: 100%;
}

.sidebar-button {
  color: var(--font-color-main);
  font-size: 2rem;
  padding: 10px;
}

.nav_item:hover,
.sidebar-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (min-width: 1024px) {
  .sign-btn {
    display: block;
  }

  .nav-link {
    display: block;
  }

  .sidebar-button {
    display: none;
  }

  .nav-header .search-container {
    display: flex;
  }
}
